name: Generate Contributors Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate-contributors:
    if: github.repository == 'anghunk/linuxdo-scripts'
    runs-on: ubuntu-latest
    steps:
      - name: Generate Contributors Images
        uses: jaywcjlove/github-action-contributors@main
        id: contributors
        with:
          filter-author: (renovate\[bot\]|renovate-bot|dependabot\[bot\])
          avatarSize: 42

      - name: Modify README.md
        uses: jaywcjlove/github-action-modify-file-content@main
        with:
          path: README.md
          replacement: '${{steps.contributors.outputs.htmlList}}'